@page
@model WebApplication1.Pages.HakkındaModel
@{
	ViewData["Title"] = "Hakkında";
}
<div class="text-center">
	<h1 class="display-4">HAKKINDA</h1>
	<p style="text-align:justify;">Kullanıcının yapacağı tercihlere uygun bir 
	şekilde şarkı açan site. Bu aşamayı istediğimiz şekilde bitirebildiğimiz takdirde siteyi podcast, 
	kitap, film önerisi de yapabilecek hale getirmek istiyoruz.</p>
</div>
