@page
@model WebApplication1.Pages.Users.AdminModel
@{
}
<!--Fontawesome ikonları-->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<style>
    html {
        font-family: 'Montserrat', sans-serif;
        background-color: rgb(33, 37, 41);
    }

    body {
        background-color: rgb(33, 37, 41);
    }

    form {
        background-color: rgb(33, 37, 41);
        margin: 5%;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="admin" style="background-color: rgb(33, 37, 41);">
    <h1 style="color:white; margin:3%;"><a style="color:white;" href="https://songstufff.azurewebsites.net/"><i class="fas fa-compact-disc fa-2x"></i></a> Müzikler</h1>

    <form class="form-inline justify-conent-center mb-3" method="post" asp-page-handler="GetProjectById">
        <input class="form-check-control" id="videourl" asp-for="Music.id" type="search" />
        <button class="btn btn-primary ml-2" type="submit" style=" background-color: darkgrey;
        border: 2px solid white;
        color: rgb(33, 37, 41);
        font-weight: bold;">
            Ara
        </button>
    </form>
    <form method="post" asp-page-handler="Form">
        <div class="form-row">
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.id" placeholder="json id" readonly />
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.category" placeholder="category" />
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.genre" placeholder="genre" />
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.feeling" placeholder="feeling" />
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.energy" placeholder="energy" />
            </div>
            <div class="col-12 col-sm-12 col-lg-4">
                <input type="text" class="form-control mb-3" asp-for="Music.duration" placeholder="duration" />
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <input type="text" class="form-control mb-3" asp-for="Music.url" placeholder="url" />
            </div>
        </div>
        <button type="submit" class="btn btn-primary" style=" background-color: darkgrey;
        border: 2px solid white;
        border-radius: 100px;
        color: rgb(33, 37, 41);
        font-weight: bold;">
            Ekle/Güncelle
        </button>
        <button type="submit" class="btn btn-primary" asp-page-handler="DeleteByID" style=" background-color: darkgrey;
        border: 2px solid white;
        border-radius: 100px;
        color: rgb(33, 37, 41);
        font-weight: bold;">
            Sil
        </button>
    </form>
</div>

<!--Model.link boşsa videoyu gizle-->
<div class="videocontainer" style="margin:3%;">
    <iframe id="myIframe" width="500" height="280" src=@Model.link frameborder="0" allowfullscreen></iframe>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        if ($('iframe[src]').text() === "")
            $(".videocontainer").hide(
 );
</script>
